.flexslider {
    margin: 0 auto;
}

#slider {
    width: 960px;
    height: 480px;
}

#slider .slides {
    width: 960px;
    height: 480px;

}

#slider .slides img {
    width: 100%;
    height: 480px !important;
    /* object-fit: contain; */
}

#carousel {
    width: 960px;
    height: 200px;
}

#carousel .slides {
    width: 960px;
    height: 200px;
}

#carousel .slides img {
    width: 100%;
    height: 200px !important;
    /* object-fit: contain; */
}

